body {
    background-color: orangered ;
}

a {
    padding: 10px;
    color: black;
    font-size: 1.3em;
}

a:hover {
    color: rgb(80, 78, 78);
    background-color: white;
}

img {
    width: 300px;
    display: block;
    margin: 0 auto;

}

#main_title{
        font-size: 4em;
}
