@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: rgba(20, 30, 13, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#logo_link {
    display: inline-block;
}

.logo {
    width: 100px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: #d9c2a3;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
}

nav a:hover {
    background-color: black;
}

main {
    padding: 20px;
}

.rivers-section {
    margin-bottom: 50px;
}

.river-info {
    text-align: left;
    background-color: #6f7364;
    color: #d9c2a3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.river-info img {
    width: 100%;
    border-radius: 10px;
}

.river-info p {
    margin-top: 15px;
}

footer {
    background-color: #6f7364;
    color: #d9c2a3;
    padding: 20px;
    text-align: center;
}

footer p, footer a {
    margin: 5px;
    font-size: 18px;
}

.social {
    display: flex;
    justify-content: center;
}

.social a {
    margin: 0 10px;
}

.social img {
    width: 30px;
}

@media screen and (max-width: 900px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        padding: 10px 0;
    }

    main {
        padding: 20px 10px;
    }

    .rivers-info {
        text-align: center;
    }

    .rivers-info img {
        width: 80%;
    }
}
nav {
    display: flex;
    justify-content: center; /* Center the navigation links horizontally */
    align-items: center;
}

nav a {
    color: #d9c2a3;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
}

nav a:hover {
    background-color: black;
}
