@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Tektur:wght@400..900&display=swap');



:root {
    --heading-font: "Honk", sans-serif;
    --paragraph-font: "Tektur", Helvetica, sans-serif;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #2c514c;
    font-family: var(--paragraph-font);
    font-size: 20px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #122932;
    display: grid;
    grid-template-columns: 150px auto;
}
footer {
    background-color: #122932;
    font-family: var(--heading-font);
    color: #2c514c;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
}
footer p {
    margin: 5px;
    font-size: 2em;
}
footer p a {
    font-size: 1.025em;
}
footer .social img {
    padding-top: 15px;
}
.logo {
    width: 80px;
    padding-top: 15px;
    padding-left: 15px;
    justify-self: center;
    align-self: center;
}
#logo-link {
    width: 80px;
    padding-top: 15px;
    padding-left: 15px;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #576066;
    text-decoration: none;
    padding: 30px;
    font-family: var(--heading-font);
    font-size: 2em;
}
nav a:hover {
    background-color: black;
}
.home-grid {
    display: grid;
}
.img0 {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
    width: 20%;
    z-index: -1;
    box-shadow: 5px 5px 10px black;
}
.img1 {
    width: 20%;
    margin-top: 10%;
    margin-left: 70%;
    margin-bottom: 10%;
    z-index: -1;
    box-shadow: 5px 5px 10px black;
}
.img2 {
    width: 20%;
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 5%;
    z-index: -1;
    box-shadow: 5px 5px 10px black;
}
.msg0 {
    background-color: #122932;
    box-shadow: 5px 5px 10px black;
    z-index: 1;
    margin-top: -20%;
    margin-left: 30%;
    margin-right: 10%;
    padding: 10px;
}
.msg1 {
    background-color: #122932;
    box-shadow: 5px 5px 10px black;
    z-index: 1;
    margin-top: -20%;
    margin-left: 5%;
    margin-right: 40%;
    padding: 10px;
}
.msg2 {
    background-color: #122932;
    box-shadow: 5px 5px 10px black;
    z-index: 1;
    margin-top: -15%;
    margin-left: 30%;
    margin-right: 10%;
    margin-bottom: 15%;
    padding: 10px;
}




form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
}
form li + li {
    margin-top: 1em;
}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
    color: white;
}
input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #fbf9f9;
}
input:focus,
textarea:focus {
    border-color: #f1efef;
}
textarea {
    vertical-align: top;
    height: 5em;
} */
.button {
    padding-left: 90px;
} */
button {
    margin-left: 0.5em;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    display: none;
}
.moveDown {
    margin-top: 3em;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.title {
    color: grey;
    font-size: 18px;
}
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
button:hover, a:hover {
    opacity: 0.7;
}